#langchain things
langchain
langchain-community

#state forming
langgraph

#llm 
langchain-google-genai

#web-scrapping
playwright

#database
psycopg2-binary
redis

#ui
streamlit

#python-dotenv
python-dotenv

